body{
    background-color: #f3f3f3;
}


header{
    background-color: #D3D3D3; 
    text-align: right;
    
}

nav-item:hover {
    color: #7c2484;
    background-color: transparent;
    text-decoration: none;
}

.nav-link{
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

img{
    width: 50%;
}
  