body{
    background-color: #f3f3f3;
    
}

section{
    padding: 1%;
    margin-top: 5%;
}

header{
    background-color: #D3D3D3; 
    text-align: right;
    
    
}

footer{
    background-color: #7c2484;
    padding: 1%;
}

.nav-link:hover {
    color: #7c2484;
    background-color: transparent;
    text-decoration: none;
}

.nav-link{
    color: #000000;
    background-color: transparent;
    text-decoration: none;
}

img{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.sobre{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
}

h1{
    text-align: center;
}

h4{
    text-align: center;
    color: #484848;
}

.progress{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    color: #7c2484;
}

h6{
    margin-left: 20%;
    
}

p{
    text-align: center;
}



.linha{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
}

.col-6{
    width: 50%;
}



.git{
    text-decoration: none;
    color: #f3f3f3;
}

.rodape{
    text-align: left;
    margin-left: 5%;
}

.contato{
    text-align: left;
}
  
.email{
    width: 4%;
    float: right;
}

.localizacao{
    width: 4%;
    float: right;
}


.carousel-item{
    width: 50%;
    margin-left: 13%;
}

.btn{
    float: right;
}


nav ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  
  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  #menu-toggle {
    display: none;
  }
  

/*menu*/

@media only screen and (max-width: 600px){
    .menu-icon {
      display: block;
      padding-right: 10px;
  }
  
  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      background-color: #7c2484;
      top: 20px;
      left: 0;
      z-index: 1;
      padding: 0;
  }
  
  #menu-toggle:checked + .menu-icon + ul {
      display: flex;
  }
  
  nav ul li {
      text-align: center;
      margin: 0;
  }
  
  nav ul li a {
      padding: 15px 0;
  }
  
  nav ul li label {
      /* width: 100%; */
      display: block;
  }
  }

  @media screen and (max-width: 600px) {
    img {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }

    .carousel-item{
        width: 70%;
        margin-left: 10%;
        
    }

    .contato{
        text-align: left;
    }
      
    .email{
        width: 7%;
            
    }
    
    .localizacao{
        width: 7%;
        float: right;
    }
    .col-6{
        margin-left: 12
        
    }
        

  }

